.event1{
  background-image: url('C:\\Users\\nikit\\OneDrive\\Desktop\\PES1UG22CS390_PES1UG22CS395_WT_MINIPROJECT\EVENT BOOKING WEBSITE\\myreactapp\\src\\assets\\Playsbg.jpg');
  background-size: contain;
  border: 2px solid  #762033;
}
.event2{
  background-image: url('C:\\Users\\nikit\\OneDrive\\Desktop\\PES1UG22CS390_PES1UG22CS395_WT_MINIPROJECT\EVENT BOOKING WEBSITE\\myreactapp\\src\\assets\\Operabg.jpg');
  background-size: contain;
  border: 2px solid  #762033;
}
.event3{
  background-image: url('C:\Users\\nikit\\OneDrive\\Desktop\\PES1UG22CS390_PES1UG22CS395_WT_MINIPROJECT\EVENT BOOKING WEBSITE\\myreactapp\\src\\assets\\Concertbg.jpg');
  background-size: contain;
  border: 2px solid  #762033;
}
.event4{
  background-image: url('C:\\Users\\nikit\\OneDrive\\Desktop\\PES1UG22CS390_PES1UG22CS395_WT_MINIPROJECT\EVENT BOOKING WEBSITE\\myreactapp\src\\assets\\Comedybg.jpg');
  background-size: contain;
  border: 2px solid  #762033;
}
.event5{
  background-image: url('C:\\Users\\nikit\\OneDrive\\Desktop\\PES1UG22CS390_PES1UG22CS395_WT_MINIPROJECT\EVENT BOOKING WEBSITE\\myreactapp\\src\\assets\\Circusbg.jpg');
  background-size: contain;
  border: 2px solid  #762033;
}